@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
input:focus {
  outline: none; }

.regFormWrap {
  width: 40%;
  background-color: #ad8181;
  margin: auto;
  padding: 20px;
  text-align: center; }
  .regFormWrap input {
    width: 95%;
    margin-bottom: 10px; }
  .regFormWrap select {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: none; }
  .regFormWrap button {
    width: 98%;
    padding: 15px 10px;
    border: none; }

.empty-field {
  border: solid 2px red; }

.chalemge {
  width: 40%;
  margin: auto;
  background-color: #12296c;
  margin-top: 50px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .chalemge .step,
  .chalemge .count {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff; }
    .chalemge .step .btn,
    .chalemge .count .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #12296c;
      width: 30px;
      height: 30px;
      border: 1px solid black;
      font-size: 20px;
      cursor: pointer; }

.userList {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  background-color: #160637;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; }
  .userList p {
    font-size: 14px;
    color: #fff; }

.upper {
  z-index: 1; }
